<p id="notice"><%= notice %></p>

<h1>Listing Owners</h1>

<ul>
  <% @owners.each do |owner| %>
  <li>
    <p>First Name: <%= owner.first_name %></p>
    <p>Last Name: <%= owner.last_name %></p>
    <p>Age: <%= owner.age %></p>
    <p>Race: <%= owner.race %></p>
    <p>Location: <%= owner.location %></p>
    <p>Id Number: <%= owner.id %>
  </li>
    <%= link_to 'Show and Add a Cat', owner %>
    <%= link_to 'Edit', edit_owner_path(owner) %>
    <%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ul>

<%= link_to 'New Owner', new_owner_path %>
