<p id="notice"><%= notice %></p>

<h1>Listing Cats</h1>

<ul>
  <% @cats.each do |cat| %>
  <li>
    <p><%= cat.name %></p>
    <p><%= cat.age %></p>
    <p><%= cat.fur_color %></p>
    <p><%= cat.eye_color %></p>
    <p><%= cat.food_type %></p>
  </li>
    <%= link_to 'Show', cat %>
    <%= link_to 'Edit', edit_cat_path(cat) %>
    <%= link_to 'Destroy', cat, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ul>
